button.p-tree-toggler.p-link{
    background: inherit;
    margin: 5px;
    padding: 0%;
}

.p-treenode-children{
    padding-left: 10px;
}

h1, h2, p{
    color: #111827;
    width: "100%";
    height: "auto";
    font-size: 3vw;
}

h1{
    font-size: 4vw;
}

i{
    width: 0.5vw;
}