obj/
bin/
*.dll
*.exe
*.pdb
*.obj
*.user
*.suo
*.cache
*.log
*.vs/
*.vscode/
*.config
efpt.config.json
server/PMFWikipedia/.vs/PMFWikipedia/FileContentIndex/0112f5a9-49a1-45bc-b470-693d5d766284.vsidx
server/PMFWikipedia/.vs/PMFWikipedia/FileContentIndex/695f403f-95a0-41a5-8c04-ca3319568c8d.vsidx
server/PMFWikipedia/.vs/PMFWikipedia/FileContentIndex/e5d3da48-9b49-4476-b834-47037df6252e.vsidx
