
.izmeni{
    border: 0;
    margin: 0.1rem;
}

button:hover{
    background-color: #60a5fa !important;
}
.p-panel-content{
    border-radius: 0;
}
p.comments{
    color: white;
}
p.comments:hover{
    color: #60a5fa;
    cursor: pointer;
}

.post:hover{
    cursor: pointer;
}
.p-panel-title{
    width: 100vw;
}
.change{
    color: white;
}
.change:hover{
    color: #60a5fa;
    cursor: pointer;
}